
@{
    ViewData["Title"] = "Price Request";
}
<script src="/lib/signalr/signalr.min.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var startTime = new Date();
        var button = document.getElementById('getPriceBtn');
        var table = document.querySelector('#table');
        var table1 = document.querySelector('#table1');

        var logMessage = function (sender, obj) {
            var timeDiff = (new Date() - startTime);
            table.querySelector("tbody").innerHTML += `<tr><th>${sender}</th><td>${timeDiff} ms</td><td><pre>${JSON.stringify(obj)}</pre></td></tr>`;
        };
        var showCar = function (sender, obj) {
            var timeDiff = (new Date() - startTime);
            table1.querySelector("tbody").innerHTML="";
            logMessage(sender, obj);
            if(obj.IsSuccess === true){
                var priceResult  = obj.PriceResults;
                priceResult.forEach(function(element)
                {
                    table1.querySelector("tbody").innerHTML += `<tr>
                        <th>${obj.RequestId}</th>
                        <th>${element.MerchantId}</th>
                        <td>${timeDiff} ms</td>
                        <td>${element.SupplierId}</td>
                        <td>${element.CarClassId}</td>
                        <td>${element.CarName}</td>
                        <td>${element.Doors}</td>
                        <td>${element.TotalPrice}</td>
                        <td>${element.RateId}</td>
                    </tr>`;
                });
            }
        };
        var buttonClick = function () {
            startTime = new Date();
            var roomId = uuidv4();
            connection.send('OpenSearchRoom', roomId);
            table.querySelector("tbody").innerHTML="";
            table1.querySelector("tbody").innerHTML="";
            logMessage("OpenRoom", roomId);
            var data = '{"Pickupdate": "2019-06-25T09:00:00","Returndate": "2019-06-30T09:00:00","PickupLocationCode": "' + document.getElementById('locationCode').value + '","ReturnLocationCode": "' + document.getElementById('locationCode').value + '","Currency": "EUR","BookerCountry":"NL","ModuleId":"11","Language": "EN","PromoCode":"","Filter":1,"IncludeMerchants": true,"CacheDisabled": true,            "ClientIpAddress": "8.8.8.8"}';
            $.ajax({
                type: "POST",
                url: 'api/quoterequest?roomId=' + roomId,
                data: data,
                contentType: "application/json"
            });
        }
        var connection = new signalR.HubConnectionBuilder()
            .withUrl('@ViewData["Endpoint"]/searchroom')
            .build();
        connection.on('quotePosted', (message) => {
            showCar("quotePosted", message)
        });
        connection.onclose((error) => logMessage("error", error));
        connection.start()
            .then(function () {
                logMessage("connection", "connected");
            })
            .catch(function (error) {
                logMessage("error", error);
            });
        button.addEventListener('click', buttonClick);
    });
    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }
</script>
<div>
    <form>
        <div class="form-group">
            <label for="locationCode">Location Code</label>
            <input type="text" class="form-control" id="locationCode">
        </div>
        <button type="button" class="btn btn-primary" id="getPriceBtn">Submit</button>
    </form>
    <table class="table" id="table">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Latency</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <table class="table" id="table1">
        <thead>
            <tr>
                <th>RequestId</th>
                <th>MerchantId</th>
                <th>Duration</th>
                <th>Supplier</th>
                <th>CarClass</th>
                <th>CarName</th>
                <th>CarDoor</th>
                <th>TotaPrice</th>
                <th>RateId</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

